<%- include('partials/actualHead') %>

<div id="error-container" style="display: none;">
  <p id="error-message"></p>
</div>

<script>
  const errorMessage = '<%= errorMessage %>';
  if (errorMessage) {
    const errorContainer = document.getElementById('error-container');
    const errorMessageEl = document.getElementById('error-message');
    errorMessageEl.innerText = errorMessage;
    errorContainer.style.display = 'block';
  }
</script>