<%- include('partials/_actualHead') %>

  <title>Registration Form</title>

</head>
<body>
  <%- include('partials/_header') %>

  
  <!-- Bootstrap JS -->
<%- include('./partials/_bootstrapJS_endPage') %>
  
  </body>
  
  </html>