<%- include('partials/_actualHead') %>

  <title>New URL -TinyApp Example</title>
</head>

<body>
  <%- include('partials/_header') %>

    <main style="margin: 1em;">
      <div class="card text-center">
        <h3>Create TinyURL</h3>
        <form class="form-inline d-flex justify-content-center" action="/urls" method="POST">
          <div class="card text-center">
            <label for="longURL">Enter a URL:</label>
            <input class="form-control" type="text" name="longURL" placeholder="http://"
              style="width: 300px; margin: 1em" />
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </main>

    <!-- Bootstrap JS -->
  <%- include('./partials/_bootstrapJS_endPage') %>

</body>

</html>